[submodule "charts/vault"]
	path = charts/vault
	url = https://github.com/hashicorp/vault-helm
[submodule "charts/consul"]
	path = charts/consul
	url = https://github.com/hashicorp/consul-k8s
[submodule "charts/argocd-example-apps"]
	path = charts/argocd-example-apps
	url = https://github.com/argoproj/argocd-example-apps
